<container>
  <spacer size="20"></spacer>
  <hr/ style="border-top: 2px solid #d9d9da  !important;">
  <row class="pre-footer">
      <center>
          <columns small="12" large="12">
            <a href="https://www.nordstromrack.com/store-locator?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=storelocator">

              <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324578/nordstrom_f/find_your_rack.jpg"
                    />
            </a>

          </columns>
      </center>
  </row>

  <!-- ////////////////////////////SOCIAL BELOW//////////////////////////////////////// -->
  <row>
    <columns>
      <center>
        <menu>

          <item>
            <a href="https://www.facebook.com/NordstromRack?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=facebook">
              <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324578/nordstrom_f/facebook.jpg" alt="facebook"
              style="padding-top: 16px !important;
              padding-bottom: 5px !important;
              padding-right:5px!important;
              padding-left:5px!important;
              width: 35px!important;">
            </a>
          </item>
          <item>
            <a href="https://twitter.com/nordstromrack?sid=1090795&mid=8235&aid=91502&cid=040119&      utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=twitter">
              <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324579/nordstrom_f/twitter.jpg" alt="twitter"
              style="padding-top: 16px !important;
              padding-bottom: 5px !important;
              padding-right:5px!important;
              padding-left:5px!important;
              width: 35px!important;">
            </a>
          </item>
          <item>
            <a href="https://www.instagram.com/nordstromrack/?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=instagram">
              <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324579/nordstrom_f/instagram.jpg" alt="instagram"
              style="padding-top: 16px !important;
              padding-bottom: 5px !important;
              padding-right:5px!important;
              padding-left:5px!important;
              width: 35px!important;">
          </item>
          <item>
            <a href="https://twitter.com/nordstromrack?sid=1090795&mid=8235&aid=91502&cid=040119&      utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=twitter">
              <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324579/nordstrom_f/instagram.jpg" alt="instagram"
              style="padding-top: 16px !important;
              padding-bottom: 5px !important;
              padding-right:5px!important;
              padding-left:5px!important;
              width: 35px!important;">
          </item>
        </menu>
      </center>
    </columns>
  </row>
</container>


<!-- ////////////////////////////BRAND LOGOS//////////////////////////////////////// -->
<container>
  <row class="brand-logos">
    <center>
      <columns small="3" large="3">
        <a href="https://shop.nordstrom.com/?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=nordstrom">
          <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324579/nordstrom_f/nordstrom_horizontal.png"
          />
      </a>
      </columns>
    </center>
    <center>
      <columns small="3" large="3">
        <a href="https://www.nordstromrack.com/?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=nordstromrack">
          <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324579/nordstrom_f/nordstrom_rack_horizontal.png"
                      />
        </a>
      </columns>
    </center>
    <center>
      <columns small="3" large="3">
        <a href="https://www.hautelook.com/?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=hautelook">
          <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324579/nordstrom_f/hautelook_horizontal.png"
          />
        </a>
      </columns>
    </center>
    <center>
      <columns small="3" large="3">
        <a href="https://www.trunkclub.com/?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=trunkclub">
          <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324579/nordstrom_f/trunk_club_horizontal.jpg"
          />
        </a>
      </columns>
    </center>
  </row>
  <row>
    <columns class="footer-bottom-border" small="12" large="12">

    </columns>
  </row>

</container>
<container>
  <row class="footer-links" valign="bottom">

    <columns small="6" large="6" valign="bottom" >
        <columns small="1" large="1">
          <p>
            <a  href="https://www.nordstromrack.com/privacy?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=privacy" class="text-center">
              Privacy
            </a>
          </p>
        </columns>
        <columns small=".5" large=".5"  valign="bottom">
          <p class="pipe-divider" valign="bottom">
            |
          </p>
        </columns>

        <columns small="1.1" large="1.1">
            <p>
              <a  href="https://www.nordstromrack.com/unsubscribe?e=sreedartwork%40gmail.com&sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=unsubscribe" class="text-center">
                Unsubscribe
              </a>
            </p>
        </columns>
        <columns small=".5" large=".5"  valign="bottom" >
          <p class="pipe-divider" valign="bottom" >
            |
          </p>
        </columns>
        <columns small="1" large="1">
              <p>
                <a  href="https://www.nordstromrack.com/faq?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=contact" class="text-center">
                  Contact
                </a>
              </p>
        </columns>
        <columns small=".5" large=".5"  valign="bottom" >
          <p class="pipe-divider" valign="bottom" >
            |
          </p>
        </columns>
        <columns small="1.5" large="1.5">
                <p>
                  <a href="https://www.nordstromrack.com/faq?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=contact" class="text-center">
                    Store Locator
                  </a>
                </p>
        </columns>
    </columns>
    <columns small="6" large="6">
    </columns>
</row>
</container>
<container>
  <row class="shipping">
    <columns small="12" large="12" >
      <p class="text-left">
        *Free shipping is applied to orders over $100 before tax. International orders and all items over 5lbs excluded. For U.S. orders under $100, shipping costs start at $5.95. Incremental charges may apply for additional items and weight. For full details, please visit our complete <a href="https://www.nordstromrack.com/ship-return-policy?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=shipping">Shipping & Return Policy page.</a>
      </p>
  </row>
</container>
<!--//////////////////////////// STORE LOGOS BELOW //////////////////////////////////// -->
<container>
  <row class="add">
    <columns small="12" large="12">
        <p class="text-left">

            Add<a href="https://www.nordstromrack.com/ship-return-policy?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=shipping">
                  nordstromrack@e.nordstromrack.com
                </a>
            to your address book to ensure that you receive our emails in your inbox.
            <br>
            <br>  This is an advertising message from Nordstrom Rack.
            <br>
            <br> NORDSTROM RACK
            <br> 1600 Seventh Avenue, Suite 2600
            <br> Seattle, WA 98101
            <br>
                <a href="https://www.nordstromrack.com/privacy?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=privacy">
                    Nordstrom Rack Privacy Policy
                </a>
            <br>
            <br> TO UNSUBSCRIBE: This email was sent to you because you are a valued Nordstrom Rack customer. To remove yourself from our email program, please <a href="https://www.nordstromrack.com/unsubscribe?e=sreedartwork%40gmail.com&sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=unsubscribe">change your email preferences.</a>
            <br>
            <br>© 2019
        </p>
    </columns>
  </row>
</container>
