
<container>
  <row class="header">
    <columns  small="3.5" large="3.5" valign="middle" >

      <p style="font-size: 11.5px;line-height: 1.3; padding-top: 5px;" >

        Shop denim for the family—3 days only
      </p>
    </columns>
    <columns small="3" large="3"></columns>
    <columns small="2.75" large="2.75">
      <p style="padding-top: 5px;">
        <a href="http://view.e.hautelook.com/?qs=8e4129fef01abec561ed01b0e97ba0dfe0fd860880af24439e0f2fe62baa03369e89e03b5f9ebf90c113da89181636f0a6efb0b9358efb5a875df1bba4eddd5f2cb116329ff1bdc5" class="text-right" style="font-size: 11.5px;
        line-height: 1.3; text-align: right;">
          View In Browser
        </a>
      </p>
      </columns>
      <columns small="2.75" large="2.75">
        <p style="padding-top: 5px;">
        <a href="https://www.nordstromrack.com/unsubscribe?e=sreedartwork%40gmail.com&sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=unsubscribe" class="text-right" style="font-size: 11.5px;
        line-height: 1.3; text-align: right ;">
            Unsubscribe
        </a>
      </p>

    </columns>

  </row>

</container>


<container>

  <spacer size="20" ></spacer>
</container>
<container>

    <row class="sub-header">
        <columns small="3" large="3" valign="middle">
          <a href="https://www.nordstromrack.com/?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=logo">
            <img src="https://res.cloudinary.com/dnj3ilqbx/image/upload/v1554324579/nordstrom_f/nordstrom_rack_logo.png">
          </a>


        </columns>
        <columns small="4" large="4" valign="middle">
        </columns>
        <columns small="5" large="5" valign="middle">
          <p>
            <a href="https://www.nordstromrack.com/ship-return-policy?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=shipping_header">
              Free&nbsp;Shipping&nbsp;on&nbsp;Orders&nbsp;Over&nbsp;100*
                <br>Easy 45-Day Returns
            </a>
          </p>
        </columns>
      </row>
</container>
<container>

  <spacer size="20" ></spacer>
</container>
<container>

        <row class="header-sublinks">
          <columns small="1.5" large="1.5" >
            <p>
                <a href="https://www.nordstromrack.com/category/Women?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=women_nav">
                    Women
                </a>
              </p>
          </columns>
          <columns small="1.5" large="1.5">
            <p>
                <a href="https://www.nordstromrack.com/category/Shoes">
                    Shoes
                </a>
              </p>
          </columns>
          <columns small="1.5" large="1.5">
            <p>
                <a href="https://www.nordstromrack.com/category/Bags%20&%20Accessories?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=handbags_nav">
                    Bags & Accessories
                </a>
              </p>
          </columns>
          <columns small="1.5" large="1.5">
            <p>
                <a href="https://www.nordstromrack.com/category/Beauty">
                    Beauty
                </a>
              </p>
          </columns>
          <columns small="1.5" large="1.5">
            <p>
                <a href="https://www.nordstromrack.com/category/Men?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=men_nav">
                    Men
                </a>
              </p>
          </columns>
          <columns small="1.5" large="1.5">
            <p>
                <a href="https://www.nordstromrack.com/category/Kids?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=kids_nav">
                    Kids
                </a>
              </p>
          </columns>
          <columns small="1.5" large="1.5">
            <p>
                <a href="https://www.nordstromrack.com/category/Home?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=home_nav">
                    Home
                </a>
              </p>
          </columns>
          <columns class="clearance"small="1.5" large="1.5">
            <p>
                <a href="https://www.nordstromrack.com/clearance?sid=1090795&mid=8235&aid=91502&cid=040119&utm_source=NR_Promotional&utm_medium=email&utm_campaign=91502_2019_09_Flash_1217&utm_content=clearance_nav">
                    Clearance
                </a>
              </p>
          </columns>
        </row>

    </container>
